.module {
  border: none;
  max-width: 640px;
}

.title {
  display: block;
  font-weight: bolder;
  margin-bottom: 4px;
}

.textbox {
  display: block;
  width: 100%;
  font-size: 1.6rem;
}

.textbox[aria-invalid="true"] {
  border-color: #c00;
}

.bottom {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  min-height: 18px;
  padding-top: 4px;
}

.error {
  color: #c00;
  flex-grow: 1;
  text-align: right;
}

.description {
  color: #666;
}
